nav {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-top-color: black;
    border-top-style: solid;
    display: inline-block;
}

.menu {
    width: 800px;
    margin-left: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
    }

.name {
    text-align: center;
    font-size: 30px;
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 50px;
    padding: 20px;
    line-height: 55px;
}

nav ul {
    list-style-type: none;
    font-size: 15px;
    float: right;
    display: inline-block;
}

li {
    display: inline;
    margin-right: 15px;
}

.button {
    padding:0px 15px;
    border-right: 1px;
    border-right-style: solid;
    border-right-color: darkslategrey;
}
.button:hover{
    background-color: black;
    border-color: #b3f5cc;
    color: white;
    border-width: 20px;

}

li a {
    text-decoration: none;
    color: darkslategray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content {
    max-width: 960px;
    margin-left:400px;
    margin-bottom: auto;
    position: relative;
    min-height: 739px;
}

.about {
    width: 650px;
    background-color: white;
    border-style: solid;
    border-color: #444;
    border-width: thin;
    margin-bottom: 15px;
    float: left;
    position: relative;
}

h1 {
    color: darkslategray;
    font-size: 30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5px;
    margin-left: 15px;
    display: block;
}

p {
    color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    margin-top: 0px;
    margin-right: 15px;
    margin-left: 15px;
    line-height: 1.5em;
    display: block;
}

.profile {
    padding-top: 10px;
    margin-right: 10px;
    float: left;
}

.footer {
    text-align: center;
    width: 100%;
    padding-top: 20px;
    height: 40px;
    background-color: white;
    font-size: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border: 6px;
    border-top-style: solid;
    border-top-color: darkslategray;
    display: block;
}

body {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/congruent_pentagon.png);
    display: block;
    margin: 10px;
}

