nav {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: black;
    display: inline-block;
}

.box {
    max-width: 960px;
    margin-left: 125px;
    }

.name{
    text-align: center;
    font-size: 40px;
    background-color: lightslategray;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 400px;
    padding: 12px;
    line-height: 70px;
}